<footer class="footer">
  <small>
     Small text
  </small>
  <nav>
    <ul class="nav nav-pills">
      <li class= "active"><%= link_to "About", '#'%></li>
      <li><%= link_to "Contact", '#'%></li>
    </ul>
  </nav>
  </footer>